#spinningSquaresG{
	display: none;
	position:relative;
	width:161px;
	height:19px;
	margin-right: auto;
	margin-left: auto;
}

.spinningSquaresG{
	position:absolute;
	top: 200px;
	background-color:#428ACA;
	width:19px;
	height:19px;
	-moz-animation-name:bounce_spinningSquaresG;
	-moz-animation-duration:1.1s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-transform:scale(.3);
	-webkit-animation-name:bounce_spinningSquaresG;
	-webkit-animation-duration:1.1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-transform:scale(.3);
	-ms-animation-name:bounce_spinningSquaresG;
	-ms-animation-duration:1.1s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-transform:scale(.3);
	-o-animation-name:bounce_spinningSquaresG;
	-o-animation-duration:1.1s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-transform:scale(.3);
	animation-name:bounce_spinningSquaresG;
	animation-duration:1.1s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	transform:scale(.3);
}

#spinningSquaresG_1{
	left:0;
	-moz-animation-delay:0.44s;
	-webkit-animation-delay:0.44s;
	-ms-animation-delay:0.44s;
	-o-animation-delay:0.44s;
	animation-delay:0.44s;
}

#spinningSquaresG_2{
	left:20px;
	-moz-animation-delay:0.55s;
	-webkit-animation-delay:0.55s;
	-ms-animation-delay:0.55s;
	-o-animation-delay:0.55s;
	animation-delay:0.55s;
}

#spinningSquaresG_3{
	left:40px;
	-moz-animation-delay:0.66s;
	-webkit-animation-delay:0.66s;
	-ms-animation-delay:0.66s;
	-o-animation-delay:0.66s;
	animation-delay:0.66s;
}

#spinningSquaresG_4{
	left:60px;
	-moz-animation-delay:0.77s;
	-webkit-animation-delay:0.77s;
	-ms-animation-delay:0.77s;
	-o-animation-delay:0.77s;
	animation-delay:0.77s;
}

#spinningSquaresG_5{
	left:81px;
	-moz-animation-delay:0.88s;
	-webkit-animation-delay:0.88s;
	-ms-animation-delay:0.88s;
	-o-animation-delay:0.88s;
	animation-delay:0.88s;
}

#spinningSquaresG_6{
	left:101px;
	-moz-animation-delay:0.99s;
	-webkit-animation-delay:0.99s;
	-ms-animation-delay:0.99s;
	-o-animation-delay:0.99s;
	animation-delay:0.99s;
}

#spinningSquaresG_7{
	left:121px;
	-moz-animation-delay:1.1s;
	-webkit-animation-delay:1.1s;
	-ms-animation-delay:1.1s;
	-o-animation-delay:1.1s;
	animation-delay:1.1s;
}

#spinningSquaresG_8{
	left:141px;
	-moz-animation-delay:1.21s;
	-webkit-animation-delay:1.21s;
	-ms-animation-delay:1.21s;
	-o-animation-delay:1.21s;
	animation-delay:1.21s;
}

@-moz-keyframes bounce_spinningSquaresG{
	0%{
		-moz-transform:scale(1);
		background-color:#428ACA;
	}

	100%{
		-moz-transform:scale(.3) rotate(90deg);
		background-color:#FFFFFF;
	}

}

@-webkit-keyframes bounce_spinningSquaresG{
	0%{
		-webkit-transform:scale(1);
		background-color:#428ACA;
	}

	100%{
		-webkit-transform:scale(.3) rotate(90deg);
		background-color:#FFFFFF;
	}

}

@-ms-keyframes bounce_spinningSquaresG{
	0%{
		-ms-transform:scale(1);
		background-color:#428ACA;
	}

	100%{
		-ms-transform:scale(.3) rotate(90deg);
		background-color:#FFFFFF;
	}

	}

@-o-keyframes bounce_spinningSquaresG{
	0%{
		-o-transform:scale(1);
		background-color:#428ACA;
	}

	100%{
		-o-transform:scale(.3) rotate(90deg);
		background-color:#FFFFFF;
	}

}

@keyframes bounce_spinningSquaresG{
	0%{
		transform:scale(1);
		background-color:#428ACA;
	}

	100%{
		transform:scale(.3) rotate(90deg);
		background-color:#FFFFFF;
	}
}
