html, body {
    height: 100%;
}

.login-box {
    margin-top: 100px;
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.panel-body {
    padding: 20px;
}

.navbar {
    padding-left: 150px;
    padding-right:150px;
}

.navbar .glyphicon {
    line-height: 0;
}

.page-header {
    margin-top: 70px;
    margin-left: 150px;
    margin-right: 150px;
}

#footer {
    padding-top: 10px;
    text-align: center;
}

#content {
    min-height: 450px;
    margin-left: 150px;
    margin-right: 150px;
    height: auto !important;
    padding-bottom: 100px;
    margin-bottom: 100px;
    display: none;
}

.catalog-navigation {
    float: left;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 0px;
    width: 15%;
    display: inline-block;
}

.menu-inside-1 {
    padding-left: 15px;
}

.menu-inside-2 {
    padding-left: 30px;
}

.catalog-content {
    border-radius: 4px;
    padding: 10px;
    width: 85%;
    display: inline-block;
}

.catalog-table caption{
    padding: 20px 0px 10px 20px;
    text-align: left;
    text-transform: capitalize;
}

#add-selector {
    width: 200px;
    margin-bottom: 20px;
}

.add-form {
    display: none;
    width: 400px;
    margin-top: 20px;
}

#necessary-fields {
    display: none;
    width: 400px;
}

.back-to-top {
    position: fixed;
    bottom: 7em;
    right: 12px;
    text-decoration: none;
    color: #777777;
    background-color: #F8F8F8;
    font-size: 12px;
    padding: 1em;
    border-radius: 1px;
    display: none;
}

.back-to-top:hover {    
    text-decoration: none;
    color: #555;
    background-color: #F5F5F5;
}

.table-about {
    width: 50%;
}

.about-parameter {
    font-weight: bold;
}