{% extends "main.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<select class="form-control input-sm" id="add-selector" autofocus>
	<option value="" selected>Please select device type</option>
	<option value="core">Core device</option> 
	<option value="modular">Modular device</option> 
	<option value="io">Input/Output device</option> 
	<option value="exchange">Exchange device</option> 
	<option value="accessories">Accessories</option> 
</select>

<div id="necessary-fields" class="alert alert-danger">Please fill necessary fields.</div>
	
<form class="add-form" id="add-core" action="/add/api" method="post">
	<div class="form-group">
		<input type="hidden" name="type" value="core"></input>
		<input type="hidden" name="class" value="1"></input>
	</div>
	<div class="form-group required">
		<label for="name">Device name</label>
		<input type="text" name="name" class="form-control" placeholder="Enter device name">
	</div>
	<div class="form-group">
		<label for="brand">Device manufacturer (brand)</label>
		<input type="text" name="brand" class="form-control" placeholder="Enter device manufacturer name">
	</div>
	<div class="form-group">
		<label for="model">Model</label>
		<input type="text" name="model" class="form-control" placeholder="Device model">
	</div>
	<div class="form-group">
		<label for="power">Power</label>
		<input type="number" step="5" min="0" name="power" class="form-control" placeholder="Set device power (Volts)">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Add</button>
	</div>
</form>

<form class="add-form" id="add-modular" action="/add/api" method="post">
	<div class="form-group">
		<input type="hidden" name="type" value="modular"></input>
		<input type="hidden" name="class" value="1"></input>
	</div>
	<div class="form-group required">
		<label for="name">Device name</label>
		<input type="text" name="name" class="form-control" placeholder="Enter device name">
	</div>
	<div class="form-group">
		<label for="brand">Device manufacturer (brand)</label>
		<input type="text" name="brand" class="form-control" placeholder="Enter device manufacturer name">
	</div>
	<div class="form-group">
		<label for="model">Model</label>
		<input type="text" name="model" class="form-control" placeholder="Device model">
	</div>
	<div class="form-group">
		<label for="slot">Slot</label>
		<input type="text" name="slot" class="form-control" placeholder="Set device slot">
	</div>
	<div class="form-group">
		<label for="power">Power</label>
		<input type="number" step="5" min="0" name="power" class="form-control" placeholder="Set device power (Volts)">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Add</button>
	</div>
</form>

<form class="add-form" id="add-io" action="/add/api" method="post">
	<div class="form-group">
		<input type="hidden" name="type" value="input_output"></input>
		<input type="hidden" name="class" value="2"></input>
	</div>
	<div class="form-group required">
		<label for="name">Device name</label>
		<input type="text" name="name" class="form-control" placeholder="Enter device name">
	</div>
	<div class="form-group required">
		<label for="brand">Brand</label>
		<input type="text" name="brand" class="form-control" placeholder="Enter device manufacturer name">
	</div>
	<div class="form-group required">
		<label for="connector">Connector</label>
		<input type="text" name="connector" class="form-control" placeholder="Connector type">
	</div>
	<div class="form-group">
		<label for="speed">Speed</label>
		<input type="number" step="50" min="0" name="speed" class="form-control" placeholder="Speed of device interface">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Add</button>
	</div>
</form>

<form class="add-form" id="add-exchange" action="/add/api" method="post">
	<div class="form-group">
		<input type="hidden" name="type" value="exchange"></input>
		<input type="hidden" name="class" value="2"></input>
	</div>
	<div class="form-group required">
		<label for="name">Device name</label>
		<input type="text" name="name" class="form-control" placeholder="Enter device name">
	</div>
	<div class="form-group required">
		<label for="brand">Brand</label>
		<input type="text" name="brand" class="form-control" placeholder="Enter device manufacturer name">
	</div>
	<div class="form-group">
		<label for="connector">Connector</label>
		<input type="text" name="connector" class="form-control" placeholder="Connector type">
	</div>
	<div class="form-group">
		<label for="speed">Speed</label>
		<input type="number" step="50" min="0" name="speed" class="form-control" placeholder="Speed of device interface">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" name="description" rows="3"></textarea>
	</div>
	<div class="form-group">
		<input type="checkbox" value="1" name="digital">
			Device is digital    		
		</label>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Add</button>
	</div>
</form>

<form class="add-form" id="add-accessories" action="/add/api" method="post">
	<div class="form-group">
		<input type="hidden" name="type" value="accessories"></input>
		<input type="hidden" name="class" value="3"></input>
	</div>
	<div class="form-group required">
		<label for="name">Device name</label>
		<input type="text" name="name" class="form-control" placeholder="Enter device name">
	</div>
	<div class="form-group required">
		<label for="description">Description</label>
		<textarea class="form-control" name="description" rows="3"></textarea>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Add</button>
	</div>
</form>

{% endblock %}
