{% extends "main.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>F.A.Q.</h1>
<h3>What is this</h3>
<p>This is simple web application writenn on Python 2.7 and Flask framework. I thinks this is not very usefull. This is just course project which showes some my experience.</p>

<h3>How to use this</h3>
<p>You can view tables with some useless inforamation about hardware of computers. Also you can add some devices into database through web interface and delete it.</p>

<h3>How to see tables with hardware information</h3>
<p>Just go <a href="{{ url_for('show') }}">here</a>.</p>

<h3>How to add new device information</h3>
<p>Just go <a href="{{ url_for('add') }}">here</a>.</p>

<h3>How to add new device information</h3>
<p>Go <a href="{{ url_for('add') }}">here, choose table and click delete near the item.</a>.</p>

<h3>Are there some other abilities?</h3>
<p>Nope just described above.</p>

<h3>Why do I need this</h3>
<p>You don't.</p>

<h3>How can I connect with developer</h3>
<p>You can <a href="mailto:bondarevpavel@ymail.com?Subject=Feedback" target="_top">send mail</a> to me. My name is Pavel.</p>
<h1>About.</h1>
<table class="table table-responsive table-about">
	<tbody>
		<tr>
			<td><p class='about-parameter'>author</p></td>
			<td>Pavel Bondarev</td>
		</tr>
		<tr>
			<td><p class="about-parameter">email address</p></td>
			<td>bondarevpavel@ymail.com</td>
		</tr>
		<tr>
			<td><p class="about-parameter">organization</p></td>
			<td>South Russain State Polytechnical University</td>
		</tr>
		<tr>
			<td><p class="about-parameter">position</p></td>
			<td>Student</td>
		</tr>
		<tr>
			<td><p class="about-parameter">manager</p></td>
			<td>Vasil Mokhov</td>
		</tr>
		<tr>
			<td><p class="about-parameter"></p></td>
			<td></td>
		</tr>
	</tbody>
</table>

<h3></h3>
<p></p>

<h3></h3>
<p></p>

<h3></h3>
<p></p>
{% endblock %}
