{% extends "main.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Welcome,</h1>
<p>My name is Pavel Bondarev. I'm student of <a href="http://www.npi-tu.ru/">SRSPU (NPI)</a> from Novocerkassk, Russia.</p>
<p>This web-application developed as course project.</p>
<p>It presents interface to Hardware devices Data Base.</p>
<p>Next instruments was used for development:</p>
<table class="table table-instruments">
	<thead>
		<th>Instrument</th>
		<th>Description</th>
		<th>Web Site</th>
	</thead>
	<tbody>
		<tr>
			<td>Python</td>
			<td>Python is a programming language that lets you work more quickly and integrate your systems more effectively. You can learn to use Python and see almost immediate gains in productivity and lower maintenance costs.</td>
			<td><a href="http://www.python.org">www.python.org</a></td>
		</tr>
		<tr>
			<td>Flask</td>
			<td>Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.</td>
			<td><a href="http://flask.pocoo.org">flask.pocoo.org</a></td>
		</tr>
		<tr>
		<tr>
			<td>JavaScript</td>
			<td>JavaScript (JS) is an interpreted computer programming language. As part of web browsers, implementations allow client-side scripts to interact with the user, control the browser, communicate asynchronously, and alter the document content that is displayed. It has also become common in server-side programming, game development and the creation of desktop applications.</td>
			<td></td>
		</tr>
			<td>jQuery</td>
			<td>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.</td>
			<td><a href="http://jquery.com">jquery.com</a></td>
		</tr>
		<tr>
			<td>Bootstrap</td>
			<td>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</td>
			<td><a href="http://getbootstrap.com/">getbootstrap.com/</a></td>
		</tr>
	</tbody>
</table>
{% endblock %}
