<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

<div class="login-box panel panel-info">
 	<div class="panel-heading">Please enter valid credentials.</div>
 	<div class="panel-body">
		<form class="login" action="{{ url_for('login') }}" method="post">
			{% if error %}
			<div class="alert alert-danger">Invalid username or password</div>
			{% endif %}
			{%if error%}
			<div class="form-group has-error">
			{% else %}
			<div class="form-group">
			{% endif %}
				<label for="username">Username</label>
				<input type="username" name="username" class="form-control" id="username" placeholder="Username">
			</div>
			{%if error%}
			<div class="form-group has-error">
			{% else %}
			<div class="form-group">
			{% endif %}
				<label for="password">Password</label>
				<input type="password" name="password" class="form-control" id="password" placeholder="Password">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Sign In</button>
			</div>
		</form>
  	</div>
</div>
