<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    
    <title>{{ page }}</title>
    {% endblock %}
  </head>
  <body>
    <a href="#" class="back-to-top">Back to Top</a>
      {% block header %}
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-th"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if page=='Home' %}
            <li class="active"><a href="/">Home</a></li>
            {% else %}
            <li><a href="/">Home</a></li>
            {% endif %}

            {% if page=='Catalog' %}
            <li class="active"><a href="/show">Catalog</a></li>
            {% else %}
            <li><a href="/show">Catalog</a></li>
            {% endif %}
            
            {% if page=='Manage content' %}
            <li class="active"><a href="/add">Manage content</a></li>
            {% else %}
            <li><a href="/add">Manage content</a></li>
            {% endif %}

            {% if page=='Help' %}
            <li class="active"><a href="/help">Help</a></li>
            {% else %}
            <li><a href="/help">Help</a></li>
            {% endif %}
    
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">{{ username }} <span class="glyphicon glyphicon-user"></p></span></li>
            <li><a href="/logout">Log out <span class="glyphicon glyphicon-log-out"></span></a></li>
          </ul>
        </div>
      </nav>
      {% endblock %}
    </div>
    <div class="page-header">
      <h3>{{ page }}</h3>
    </div>  

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    
    <div id="footer" class="navbar navbar-default navbar-fixed-bottom">
      {% block footer %}
      <p>&copy; Copyright 2013 by <code>Pavel Bondarev</code>.</p>
      <p>Novocherkassk, <a href="http://www.npi-tu.ru/">SRSPU</a>.</p>
      {% endblock %}
    </div>
  </body>
</html>