{% extends "main.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}">
{% endblock %}
{% block content %}
<nav class="catalog-navigation">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#" rel="all">All</a></li>
    <li class="menu-inside-1"><a href="#" rel="iternal">Iternal</a></li>
    <li class="menu-inside-2"><a href="#" rel="iternal_core">Core</a></li>
    <li class="menu-inside-2"><a href="#" rel="iternal_modular">Modular</a></li>
    <li class="menu-inside-1"><a href="#" rel="perepherial">Perepherial</a></li>
    <li class="menu-inside-2"><a href="#" rel="perepherial_io">Input-Output</a></li>
    <li class="menu-inside-2"><a href="#" rel="perepherial_exchange">Exchange</a></li>
    <li class="menu-inside-1"><a href="#" rel="accessories">Accesories</a></li>
  </ul>
</nav>

<div class="catalog-content">
    <div class="catalog-loader">
      <div id="spinningSquaresG">
        <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
        <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
        <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
        <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
        <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
        <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
        <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
        <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
      </div>
    </div>
    <div class="catalog-table">
    </div>
</div>
{% endblock %}
