{% extends "main.html" %}
{% block head %}
<meta http-equiv="refresh" content="5; URL={{previous_page}}">
{{ super() }}
{% endblock %}
{% block content %}
<h1>Success</h1>
<p>Operation was completed successfully.</p>
<p><a href="{{previous_page}}">Back</a></p>
{% endblock %}
